<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Unavailable date:</strong>
  <%= @user.unavailable_date %>
</p>

<%= link_to 'Support Assignments', user_support_assignments_path(@user) %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
