<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @support_assignment.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @support_assignment.user_id %>
</p>

<%= link_to 'Edit', edit_user_support_assignment_path(id: @support_assignment.id) %> |
<%= link_to 'Back', user_support_assignments_path(@support_assignment.user) %>
